<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExpertLabel" data-translate="upartnaApp.expert.home.createOrEditLabel">Create or
            edit a Expert</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.expert.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.expert.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.expert.title"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.about" for="field_about">About</label>
            <input type="text" class="form-control" name="about" id="field_about"
                   ng-model="vm.expert.about"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                   ng-model="vm.expert.website"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.isActivated" for="field_isActivated">Is
                Activated</label>
            <input type="checkbox" name="isActivated" id="field_isActivated"
                   ng-model="vm.expert.isActivated"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.isCompany" for="field_isCompany">Is
                Company</label>
            <input type="checkbox" name="isCompany" id="field_isCompany"
                   ng-model="vm.expert.isCompany"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.taxPayerNumber" for="field_taxPayerNumber">Tax
                Payer Number</label>
            <input type="text" class="form-control" name="taxPayerNumber" id="field_taxPayerNumber"
                   ng-model="vm.expert.taxPayerNumber"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.experienceStartDate"
                   for="field_experienceStartDate">Experience Start Date</label>
            <div class="input-group">
                <input id="field_experienceStartDate" type="text" class="form-control" name="experienceStartDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.expert.experienceStartDate"
                       is-open="vm.datePickerOpenStatus.experienceStartDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('experienceStartDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.activatedOn" for="field_activatedOn">Activated
                On</label>
            <div class="input-group">
                <input id="field_activatedOn" type="text" class="form-control" name="activatedOn"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.expert.activatedOn"
                       is-open="vm.datePickerOpenStatus.activatedOn"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('activatedOn')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.expert.createdOn" for="field_createdOn">Created
                On</label>
            <div class="input-group">
                <input id="field_createdOn" type="text" class="form-control" name="createdOn"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.expert.createdOn"
                       is-open="vm.datePickerOpenStatus.createdOn"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdOn')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
