<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJobFileLabel" data-translate="upartnaApp.jobFile.home.createOrEditLabel">Create or
            edit a Job File</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.jobFile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.jobFile.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.jobFile.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                   ng-model="vm.jobFile.url"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.jobFile.fileType" for="field_fileType">File
                Type</label>
            <input type="text" class="form-control" name="fileType" id="field_fileType"
                   ng-model="vm.jobFile.fileType"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="upartnaApp.jobFile.extension"
                   for="field_extension">Extension</label>
            <input type="text" class="form-control" name="extension" id="field_extension"
                   ng-model="vm.jobFile.extension"
            />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
