<div>
    <h2 data-translate="upartnaApp.jobFile.home.title">Job Files</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="job-file.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="upartnaApp.jobFile.home.createLabel">
                        Create new Job File
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="url"><span data-translate="upartnaApp.jobFile.url">Url</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="fileType"><span data-translate="upartnaApp.jobFile.fileType">File Type</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="extension"><span data-translate="upartnaApp.jobFile.extension">Extension</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="jobFile in vm.jobFiles track by jobFile.id">
                <td><a ui-sref="job-file-detail({id:jobFile.id})">{{jobFile.id}}</a></td>
                <td>{{jobFile.url}}</td>
                <td>{{jobFile.fileType}}</td>
                <td>{{jobFile.extension}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="job-file-detail({id:jobFile.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="job-file.edit({id:jobFile.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="job-file.delete({id:jobFile.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
