<div>
    <h2><span data-translate="upartnaApp.contract.detail.title">Contract</span> {{vm.contract.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.contract.title">Title</span></dt>
        <dd>
            <span>{{vm.contract.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.contract.code">Code</span></dt>
        <dd>
            <span>{{vm.contract.code}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.contract.beginningDate">Beginning Date</span></dt>
        <dd>
            <span>{{vm.contract.beginningDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.contract.endingDate">Ending Date</span></dt>
        <dd>
            <span>{{vm.contract.endingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.contract.amount">Amount</span></dt>
        <dd>
            <span>{{vm.contract.amount}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.contract.signatureDate">Signature Date</span></dt>
        <dd>
            <span>{{vm.contract.signatureDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="contract-detail.edit({id:vm.contract.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
