<div>
    <h2><span data-translate="upartnaApp.submission.detail.title">Submission</span> {{vm.submission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.submission.submitedOn">Submited On</span></dt>
        <dd>
            <span>{{vm.submission.submitedOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.submission.description">Description</span></dt>
        <dd>
            <span>{{vm.submission.description}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.submission.amount">Amount</span></dt>
        <dd>
            <span>{{vm.submission.amount}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="submission-detail.edit({id:vm.submission.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
