<div>
    <h2><span data-translate="upartnaApp.comment.detail.title">Comment</span> {{vm.comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.comment.message">Message</span></dt>
        <dd>
            <span>{{vm.comment.message}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.comment.createdOn">Created On</span></dt>
        <dd>
            <span>{{vm.comment.createdOn | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="comment-detail.edit({id:vm.comment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
