<div>
    <h2><span data-translate="upartnaApp.realization.detail.title">Realization</span> {{vm.realization.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="upartnaApp.realization.title">Title</span></dt>
        <dd>
            <span>{{vm.realization.title}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.realization.description">Description</span></dt>
        <dd>
            <span>{{vm.realization.description}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.realization.realizationDate">Realization Date</span></dt>
        <dd>
            <span>{{vm.realization.realizationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="upartnaApp.realization.location">Location</span></dt>
        <dd>
            <span>{{vm.realization.location}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="realization-detail.edit({id:vm.realization.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
